@import 'color';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
}

.bg-img {
	position: relative;
	background-image: url(../img/tło.jpg);
	height: 200px;
	background-size: cover;
	background-position: center;
}

a {
	text-decoration: none;
}

.header-text {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 10px;
}

.front-text {
	font-size: 16px;
	margin-top: 10px;

	.text-wow {
		font-weight: bold;
		display: flex;
		justify-content: center;
		font-size: 24px;
		color: brown;
	}
}
.box {
	margin: 10px 0;
	padding: 10px;
	border: 2px solid black;
	border-radius: 15px;
	background-color: $box-color;
	i {
		font-size: 36px;
		padding-bottom: 10px;
		display: flex;
		justify-content: center;
	}
	p {
		margin: 0;
	}
}
.box3 {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}
.map {
	display: none;
	padding: 20px 0;
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.recomend-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px 0;
}

.recomend {
	p {
		margin: 5px 0;
	}
	.name {
		font-weight: bold;
	}
	padding: 20px 10px;
	.fa-square-check {
		color: green;
		padding-right: 5px;
	}
	.fa-brands {
		color: blue;
		padding-right: 5px;
	}
	.fa-phone {
		color: green;
		padding-right: 5px;
	}
}

.contact-form {
	font-size: 20px;
	margin-top: 20px;
}

.end {
	display: flex;
	justify-content: center;
	align-items: center;
}

// .scene {
// 	width: 400px;
// 	height: 200px;
// }

// .card {
// 	position: relative;
// 	width: 100%;
// 	height: 100%;
// 	transform-style: preserve-3d;
// 	transition: all 0.3s ease;
// 	margin-left: 20px;
// }
// .front {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	background-color: antiquewhite;
// 	font-size: 40px;
// 	backface-visibility: hidden;
// 	text-align: center;
// 	padding: 20px 0;
// }

// .back {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	background-color: antiquewhite;
// 	font-size: 30px;
// 	backface-visibility: hidden;
// 	text-align: center;
// 	transform: rotateY(180deg);
// 	text-align: center;
// 	padding: 10px 0;
// }

// .flipCard {
// 	transform: rotateY(180deg);
// }

// media

@media (min-width: 576px) {
	.bg-img {
		height: 300px;
	}
	.header-text {
		padding-top: 30px;
	}
	.front-text {
		margin-top: 20px;
	}
	.map {
		display: inline;
	}
}

@media (min-width: 768px) {
	.front-text {
		font-size: 20px;
		.box-relative {
			position: relative;
			height: 165px;
			.box1 {
				width: 500px;
				position: absolute;
				left: 0;
			}
			.box2 {
				width: 500px;
				position: absolute;
				right: 0;
				top: -15px;
			}
			.box3 {
				width: 500px;
				position: absolute;
				left: 50%;
				transform: translate(-50%);
				top: 30px;
			}
			.box4 {
				width: 500px;
				position: absolute;
				left: 0;
			}
			.box5 {
				width: 500px;
				position: absolute;
				right: 0;
				top: 15px;
			}
			.box6 {
				width: 500px;
				position: absolute;
				left: 0;
				top: 15px;
			}
		}
	}
	.recomend {
		font-size: 20px;
	}
	.contact-form {
		font-size: 26px;
	}
}

@media (min-width: 992px) {
	.bg-img {
		height: 400px;
	}
	.header-text {
		padding-top: 50px;
	}

	.contact-form {
		font-size: 32px;
	}
	h1 {
		font-size: 60px;
	}
	.front-text {
		font-size: 32px;
		i {
			font-size: 60px;
			align-items: center;
			margin: 0 30px 0 10px;
		}
		.box-relative {
			height: 260px;
			.box1,
			.box2,
			.box3,
			.box4,
			.box5,
			.box6 {
				width: 700px;
			}
			.box1 {
				top: 10px;
				display: flex;
				flex-direction: row;
			}
			.box2 {
				top: -50px;
				display: flex;
				flex-direction: row;
			}
			.box3 {
				height: 150px;
				top: -10px;
				p {
					font-size: 44px;
				}
			}
			.box4 {
				top: -75px;
				display: flex;
				flex-direction: row;
			}
			.box5 {
				top: -30px;
			}
		}
	}
	.recomend-group {
		font-size: 32px;
		h2 {
			font-size: 32px;
		}
		p {
			font-size: 32px;
		}
	}
	.end {
		h2 {
			font-size: 32px;
		}
	}
}

@media (min-width: 1024px) {
	h1 {
		font-size: 60px;
	}
	.front-text {
		font-size: 32px;
		.box-relative {
			height: 260px;
			.box1,
			.box2,
			.box3,
			.box4,
			.box5,
			.box6 {
				width: 800px;
			}
			.box2 {
				top: -70px;
			}
			.box3 {
				height: 150px;
				top: -5px;
				p {
					font-size: 44px;
				}
			}
			.box4 {
				top: -50px;
			}
			.box5 {
				top: -10px;
			}
		}
	}
	.recomend {
		font-size: 32px;
		h2 {
			font-size: 32px;
		}
		p {
			font-size: 32px;
		}
	}
	.end {
		h2 {
			font-size: 32px;
		}
	}
}

@media (min-width: 1400px) {
	.front-text {
		font-size: 36px;
		i {
			font-size: 70px;
		}
		.box-relative {
			height: 300px;
			.box1,
			.box2,
			.box3,
			.box4,
			.box5,
			.box6 {
				width: 900px;
			}
			.box2 {
				top: -100px;
			}
			.box3 {
				height: 200px;
				top: -30px;
				p {
					font-size: 56px;
				}
			}
		}
	}
	.recomend-group {
		font-size: 38px;
		h2 {
			font-size: 38px;
		}
		p {
			font-size: 38px;
		}
	}
	.end {
		h2 {
			font-size: 38px;
		}
	}
}
